@import url('https://fonts.googleapis.com/css?family=Mate+SC');
/* font-family: 'Mate SC', serif; */
@import url('https://fonts.googleapis.com/css?family=Mate|Mate+SC');
/* font-family: 'Mate', serif; */

a {
  text-decoration: none;
  color: #616161;
}

.App {
  text-align: center;
}

.title {
  text-align: left;
  font-size: 40px;
  font-family: 'Mate SC', serif;
}

.blue {
  color: #2196F3;
}

.top-strip {
  height: 10px;
  width: 100vw;
  background-color: #2196F3;
}

.navLink {
  font-family: 'Mate', serif;
  font-size: 35px;
  padding-top: 5px;
  color: #616161;
  text-decoration: none !important;
}
.navLink:hover {
  background-color: #2196F3;
  cursor: pointer;
}

#nav-row {
  border-bottom: 1px solid #9E9E9E;
}

.activeLink {
  color: black !important;
}