.card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.selector {
  width: 70%;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.numSelector {
  width: 50%;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.inlineLeft {
  display: flex;
  justify-content: flex-start;
}

.inline {
  display: flex;
  justify-content: center;
}

#selector-row {
  padding: 2rem 1rem;
  margin-top: 1rem;
}

label {
  margin-right: 1rem;
}

.btn {
  font-size: 14px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 600;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #2196F3;
  border: none;
  border-radius: 2px; 
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  cursor: pointer;
}
.btn:hover {
  background-color: #0288D1;
}